doctype 5
html(lang='es')
	head
		meta(charset='UTF-8')
		title Diseño Gráfico
		link(rel='stylesheet', href='/css/bootstrap.css')
	body
		center: img(src="/img/banner.jpg", alt="banner de diseño")
		
		section.container
		block content
		
		br
		br
		br
		br
		br
		br
		br	
		section.footer

			center: ul.breadcrumb
				li
					a(href="/") Inicio 
					|
					span.divider
				li
					a(href="/about") Sobre Nosotros 
					|
					span.divider
				li
					a(href="/service") Servicio 
					|
					span.divider
				li
					a(href="/portafolio") Galeria 
					|
					span.divider
				li
					a(href="/contacto") Contacto 
					&nbsp
					span.divider
				p &copy Todos los derechos reservados - 2013
		script(type="text/javascript", src="/js/jquery.js")
		script(type="text/javascript", src="/js/bootstrap.js")